header{
    color: rgb(168, 180, 100);
    font-size: 70px;
    font-family: 'Righteous', cuersive,sans-serif;
}

.orlist{
    display: flex;
    flex-direction: row;
    background-color: rgb(236,145,146);
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row-reverse;
}
button{
    color: rgba(42, 68, 85, 0.781);
    font-family: 'Righteous', cuersive,sans-serif;
}
p{
    color: rgba(42, 68, 85, 0.781);
    font-style: oblique;
    font-size: 25px;
    line-height: 1.6;
    font-family: 'Righteous', cuersive,sans-serif;
    
}
li{ 
    list-style-position: inside;
    list-style-type: none;
    line-height: 3;
    color: white;
    order:-1;
    font-family: 'Righteous', cuersive,sans-serif;
}
legend{
    color: rgba(42, 68, 85, 0.781);
    font-size: 30px;
    font-family: 'Righteous', cuersive,sans-serif;
}
a{
    font-size: 100%;
    font-weight: 800;
    text-decoration: none;
}
.titulo{
    text-align: center;
    font-family: 'Righteous', cuersive,sans-serif;
}
.boton{
    text-align: center;
}
.cuadro{
    text-align: center;
}
body{
    background-image: linear-gradient(rgb(223,190,153),rgb(236,145,146)) ;
    background-repeat: no-repeat;
}
.baner{
    color: black;
    display: inline-block;
    position: relative;
    bottom: 45px;
}

#publicar{
    display: block; 
    font-family: 'Righteous', cuersive,sans-serif;
}
.buscar{
    display: block;
    width: 80%;
    margin:2%;
    margin-left: 10%;
}

table{
    display: inline-block;
}
#chat{
    display: inline-block;
    position: fixed;
    bottom: 0px;
    width: 350px;
    height: 350px;
    left: 70%;    
}
#li{
    display:inline;
    list-style-position:initial;
}
.lista{
    text-align: center;
    color: white;
    display: inline-block;
    border-right: solid 3px;
    border-left: solid 3px;
    background-color: rgb(219,83,117);
    transition: 0.1s;
    width: 25%;
    }
.lista:hover{
    transform: translate(0px,-10px);
    
}
.pag{
    color: white;
}
#veterinarias{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
@media only screen and (max-width:600px){
    #veterinarias{
        display: flex;
        flex-direction: column;
    }
    #chat{
        display: none;
    }
    header{
        color: rgb(168, 180, 100);
        font-size: 50px;
        font-family: 'Righteous', cuersive,sans-serif;
    }
    h1{
        font-family: 'Righteous', cuersive,sans-serif;
        color: rgba(42, 68, 85, 0.781);
        font-size: 40px;
    }
    h2{
        font-family: 'Righteous', cuersive,sans-serif;
        color: rgba(42, 68, 85, 0.781);
        font-size: 30px;
    }
    h3{
        font-family: 'Righteous', cuersive,sans-serif;
        color: rgba(42, 68, 85, 0.781);
        font-size: 45px;
    }
}
#caja{
    display: grid;
    background-image: linear-gradient(rgb(223,190,153),rgb(236,145,146));
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 75px 75px 200px 200px 200px;
    grid-template-areas:"area1 area1 area2"
                        "area3 area3 area3"
                        "area4 area6 area6"
                        "area4 area5 area5"
                        ;
   
}
#cajatitulo{
  
    grid-area: area1 ;
}
#cajalog{
    justify-self: flex-end;
    grid-area:area2;
}
#cajanav{
    
    width: 100%;  
    grid-area: area3;
}
#cajafiltro{
    
    grid-area: area4 ;
    
}
#cajacoment{
    
    grid-area: area5 ;
}
#caja-form{
    
    grid-area: area6;
}
@media only screen and (max-width:600px){
    #caja{
        display: grid;
        background-image: linear-gradient(rgb(223,190,153),rgb(236,145,146));
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 75px 75px 200px 200px 200px 200px;
        grid-template-areas:"area1 area1 area2"
                            "area3 area3 area3"
                            "area4 area4 area4"
                            "area6 area6 area6"
                            "area5 area5 area5"

                            ;
    }
    #cajafiltro{
        display: flex;
        flex-direction: row;
    }
    .lista{
        display: flex;
        flex-direction: row;
    }
 
}
textarea{
    width: 100%;
}
img:hover{
    transform:scale(1.1) ;
}
#bigtitulo{
    text-align: center;
    font-family: 'Righteous', cuersive,sans-serif;
    color: rgb(219,83,117);
}
fieldset{
    border: none;
}
label{
    font-family: 'Righteous', cuersive,sans-serif;
}
td{
    font-family: 'Righteous', cuersive,sans-serif;
    color: rgba(42, 68, 85, 0.781);

}
label{
    font-family: 'Righteous', cuersive,sans-serif;
    color: rgba(42, 68, 85, 0.781);
}
h1{
    font-family: 'Righteous', cuersive,sans-serif;
    color: rgba(42, 68, 85, 0.781);
    font-size: 50px;
}
h2{
    font-family: 'Righteous', cuersive,sans-serif;
    color: rgba(42, 68, 85, 0.781);
    font-size: 40px;
}
h3{
    font-family: 'Righteous', cuersive,sans-serif;
    color: rgba(42, 68, 85, 0.781);
    font-size: 55px;
}
#registrarse{
   justify-content: end;
}

.cuadros{
    display:inline;
}

