body {
  background-image: linear-gradient(#dfbe99, #ec9192); }

.titulo, div header, div .doc-1, div .doc-2, div .doc-3, div .doc-4, div .doc-5, div .doc-6, aside h1, .titulo-2 {
  color: #db5375;
  font-size: 70px;
  font-family: 'Righteous', cuersive,sans-serif; }

button {
  font-family: 'Righteous', cuersive,sans-serif; }

p, fieldset li, td, th {
  color: rgba(42, 68, 85, 0.781);
  font-size: 20px;
  font-family: 'Righteous', cuersive,sans-serif; }

section {
  display: flex; }

div {
  display: flex;
  flex-direction: column;
  width: 50%; }
  div header, div .doc-1, div .doc-2, div .doc-3, div .doc-4, div .doc-5, div .doc-6 {
    flex-direction: row;
    color: #db5375;
    font-size: 70px; }
  div .doc-1 {
    color: rgba(42, 68, 85, 0.781);
    font-size: 30px;
    list-style-type: none; }
  div .doc-2 {
    color: rgba(42, 68, 85, 0.781);
    font-size: 30px;
    list-style-type: none; }
  div .doc-3 {
    color: rgba(42, 68, 85, 0.781);
    font-size: 30px;
    list-style-type: none; }
  div .doc-4 {
    color: rgba(42, 68, 85, 0.781);
    font-size: 30px;
    list-style-type: none; }
  div .doc-5 {
    color: rgba(42, 68, 85, 0.781);
    font-size: 30px;
    list-style-type: none; }
  div .doc-6 {
    color: rgba(42, 68, 85, 0.781);
    font-size: 30px;
    list-style-type: none; }

aside {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center; }
  aside h1 {
    font-size: 25px; }

@media only screen and (max-width: 600px) {
  section {
    display: flex;
    flex-direction: column; } }

fieldset {
  flex-grow: 50%;
  border: none; }
  fieldset li {
    font-size: 25px; }

td, th {
  text-align: start; }

.titulo-2 {
  font-size: 30px;
  display: flex; }
  .titulo-2 img {
    flex-direction: row; }

.lista {
  display: inline-block;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #db5375; }

#grid {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "area-1 area-4" "area-2 area-4" "area-3 area-4"; }

#bloke-4 {
  grid-area: area-1; }

#bloke-4 {
  grid-area: area-2; }

#bloke-4 {
  grid-area: area-3; }

#bloke-4 {
  grid-area: area-4; }

@media only screen and (max-width: 600px) {
  #grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 400px 400px 400px;
    grid-template-areas: "area-1" "area-2" "area-3"  "area-4"; } }
